.layui-layout-admin .header
{
    background-color: #ffffff;
    
}

.header
{
    /* border-bottom: 1px solid black; */
    box-shadow: 0 1px 3px black;
}

.layui-nav .layui-nav-item a {
    display: block;
    padding: 0 20px;
    color: #000000;
    color: rgba(0, 0, 0, 0.7);
    transition: all .3s;
    -webkit-transition: all .3s;
}


.layui-nav .layui-nav-item a:hover{
    color: #000000;
}

.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
    color: #000000!important;
}

.layui-nav-itemed>a .layui-nav-more
{
    border-color: transparent transparent #000
}

.layui-nav .layui-nav-more
{
    border-color: #000 transparent transparent
}

.layui-nav .layui-nav-mored
{
    border-color: transparent transparent #000
}

.side_bg{
    background-color: #ffffff!important;
    border-right: 1px solid rgba(128, 128, 128, 0.452);
}

.layui-nav{
    background-color: #ffffff;
}

.layui-nav-itemed>.layui-nav-child
{
    background-color: #ffffff!important;
}

.layui-nav-tree .layui-nav-item a:hover {
    background-color: #4e546521
}

.layui-col-md3 {
    width:100%;
}

.layui-layout-admin .layui-body {
    bottom: 0px;
}