<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
  <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../plugins/layui/css/layui.css" media="all" />
  <link rel="stylesheet" type="text/css" href="../../css/index.css" />
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="../../plugins/jquery/jquery.min.js"></script>
  <link href="../../plugins/contextMenu/jquery.contextMenu.min.css" rel="stylesheet">
  <script src="../../plugins/contextMenu/jquery.contextMenu.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../css/fs.css" media="all" />
  <script type="text/javascript" src="../../plugins/layui/layui.js"></script>
  <script type="text/javascript" src="../../plugins/frame/js/fsDict.js"></script>
  <script type="text/javascript" src="../../plugins/frame/js/fs.js"></script>
  <script type="text/javascript" src="../../plugins/frame/js/main.js"></script>
</head>
<body>
    	<div class="layui-fluid">

		<form class="layui-form" id="edit_user_form" loadUrl="">
			<input type="hidden" name="id" />
			<!-- <div class="layui-form-item">
				<label class="layui-form-label">用户名</label>
				<div class="layui-input-block">
					<input type="text" name="userName" required="" lay-verType="tips" lay-verify="required"
						placeholder="请输入用户名" autocomplete="off" class="layui-input" />
				</div>
			</div> -->
			<div class="layui-form-item">
				<label class="layui-form-label">密码框</label>
				<div class="layui-input-block">
					<input type="password" name="password"  placeholder="请输入密码"
						autocomplete="off" class="layui-input">
				</div>
			</div>
			<!-- <div class="layui-form-item">
				<label class="layui-form-label">失效时间</label>
				<div class="layui-input-inline">
					<input type="text" name="disabledate" lay-verify="required" lay-verType="tips" autocomplete="off"
						class="layui-input fsDate" dateType="datetime" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">权限</label>
				<div class="layui-input-block">
					<select name="userType" lay-verify="required">
						<option value=""></option>
						<option value="0">普通用户</option>
						<option value="1">管理员</option>
					</select>
				</div>
			</div> -->
			<div class="layui-form-item">
				<label class="layui-form-label">手机号码</label>
				<div class="layui-input-block">
					<input type="text" name="phone" required="" lay-verType="tips" lay-verify="required"
						placeholder="请输入手机号码" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<hr />
			<div class="layui-form-item" style="text-align: center;">
				<!-- <button class="layui-btn fsAdd" lay-submit="" lay-filter="save" url="/servlet/DEMO1002">新增</button> -->
				<button class="layui-btn" lay-submit="" lay-filter="edit" url="/servlet/DEMO1005">编辑</button>

				<!--      	  <button class="layui-btn" lay-submit="" lay-filter="save" url="/servlet/DEMO1007">保存</button> -->

				<button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
			</div>
	</div>
	</form>

	</div>
</body>
</html>